{% extends 'base.html' %}

{% block content %}
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
      {% include 'cultures/portions/hero.html' %}
    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">
        {% include 'cultures/portions/about.html' %}
    </section><!-- /About Section -->

    <section class="about section light-background" id="ia">
      {% include 'cultures/portions/ia.html' %}
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact section">
      {% include 'cultures/portions/contact.html' %}
    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer light-background">
    {% include 'cultures/portions/footer.html' %}
  </footer>
{% endblock %}