{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue au Cameroun | Connexion & Inscription</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
</head>
<body>
    <div class="main-container" id="mainContainer">

        <div class="image-section" id="imageSection">
            <img id="dynamicImage" src="https://i.pinimg.com/736x/0e/92/a3/0e92a37772f91de30a3d6bb8cc4698dd.jpg" alt="Image de fond">
            <div class="overlay-text">
                <h2 id="dynamicTitle">Bienvenue !</h2>
                <p id="dynamicText">Connectez-vous pour accéder à votre compte.</p>
            </div>
        </div>

        <div class="form-container" id="formContainer">
            <div class="form-wrapper" id="formWrapper">

                <div class="form-box login">
                   {% include 'user/portions/connect.html' %}
                </div>

                <div class="form-box register">
                    {% include 'user/portions/register.html' %}
                </div>
            </div>
        </div>
    </div>

    <div id="api-endpoints"
         data-regions-url="{% url 'api_regions' %}"
         data-departments-url="{% url 'api_departments_by_region' %}"
         style="display:none;"></div>

    <script src="{% static 'user/js/script.js' %}"></script>

</body>
</html>