{% load static %}
<div class="container" data-aos="fade-up" data-aos-delay="100">

        {# Début de la ligne principale pour le texte et l'image #}
        <div class="row gy-4 align-items-center justify-content-between">

          <div class="col-xl-5" data-aos="fade-up" data-aos-delay="200">
            <span class="about-meta">À propos de la plateforme</span>
            <h2 class="about-title">Votre Portail vers la Richesse Culturelle du Cameroun</h2>
            <p class="about-description">
              All-Culture Cameroon est une initiative dédiée à la **préservation, la promotion et l'échange des inestimables cultures camerounaises**. Nous créons un espace où chacun, du passionné au chercheur, peut plonger au cœur des traditions, histoires et arts qui forgent l'identité de notre nation. Que vous soyez Camerounais de souche, de la diaspora, ou simplement un curieux du monde, notre plateforme est votre fenêtre sur une diversité culturelle sans égale.
            <br><br>
            Cette plateforme vise à :
            </p>

            <div class="row feature-list-wrapper">
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i> **Connecter** les passionnés de culture du monde entier.</li>
                  <li><i class="bi bi-check-circle-fill"></i> **Partager** les savoirs et les expériences uniques.</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i> **Valoriser** l'héritage culturel camerounais.</li>
                  <li><i class="bi bi-check-circle-fill"></i> **Inspirer** la découverte et l'apprentissage continus.</li>
                </ul>
              </div>
            </div>

            <p class="about-description">Les fonctionnalités phares de la plateforme incluent :</p>
             <div class="row feature-list-wrapper">
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i> Un **Forum de Discussion** pour échanger sur toutes les traditions.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Un système de **Messagerie Privée** pour des échanges personnalisés.</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i> Un **Espace de Ressources** avec articles, photos et vidéos.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Des **Groupes Thématiques** pour explorer des aspects spécifiques.</li>
                </ul>
              </div>
            </div>

            <p class="about-description">En rejoignant Cameroon Culture Connect, vous bénéficierez de :</p>
             <div class="row feature-list-wrapper">
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i> La possibilité de **rencontrer** des esprits curieux et passionnés.</li>
                  <li><i class="bi bi-check-circle-fill"></i> L'accès à des **connaissances approfondies** et authentiques.</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i> Une **communauté vibrante** où partager et apprendre.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Une fenêtre sur la **diversité culturelle camerounaise**.</li>
                </ul>
              </div>
            </div>
             <p class="about-description">Nous vous souhaitons la bienvenue et une expérience enrichissante au sein de notre communauté !</p>

            <div class="info-wrapper">
              <div class="row gy-4">
                <div class="col-lg-5">
                  <div class="profile d-flex align-items-center gap-3">
                    <img src="{% static 'cultures/img/me.jpg' %}" alt="DAMA Lucien" class="profile-image">
                    <div>
                      <h4 class="profile-name">DAMA Lucien</h4>
                      <p class="profile-position">Co-fondateur</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="profile d-flex align-items-center gap-3">
                    <img src="{% static 'cultures/img/lynne.jpg' %}" alt="BASSA Lynne" class="profile-image">
                    <div>
                      <h4 class="profile-name">BASSA Lynne</h4>
                      <p class="profile-position">Co-fondatrice</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6" data-aos="fade-up" data-aos-delay="300">
            <div class="image-wrapper">
              <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
                {# Images plus appropriées pour la culture camerounaise #}
                <img src="https://i.pinimg.com/736x/55/11/61/55116150e82570c1beec584e03c65838.jpg" alt="Groupe Culturel" class="img-fluid main-image rounded-4">
                <img src="https://i.pinimg.com/736x/aa/1c/8b/aa1c8bbaec1fa856584d3a39758cf148.jpg" alt="Artisanat Local" class="img-fluid small-image rounded-4">
                {# Assurez-vous d'ajouter ces images dans cultures/img/ #}
              </div>
              <div class="experience-badge floating">
                <h3>Cultures <br>Camerounaises <span></span></h3>
                <br><p>Une richesse à explorer et à partager</p>
                <br>Pour tous
              </div>
            </div>
          </div>
        </div>{# Fin de la ligne principale pour le texte et l'image #}

      </div>
