 <h2>Connexion</h2>
   {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}" style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

 {% if login_error %}
            <p style="color: red;">{{ login_error }}</p>
        {% endif %}
                    <form action="{% url 'login' %}" method="post" id="loginForm">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <input type="text" id="login-username" name="username" placeholder="Nom d'utilisateur ou adresse mail" required>
                        </div>
                        <div class="input-group">
                            <span class="icon"><i class="fas fa-lock"></i></span>
                            <input type="password" id="login-password" name="password" placeholder="Mot de passe" required>
                        </div>
                        <button type="submit">Se connecter</button>
                        <p class="switch-form-text">Pas encore de compte ? <a href="#" id="showRegister">S'inscrire</a></p>
                    </form>